.head span {
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 200px;
    opacity: 0;
    z-index: 11;
}

.head-zi {
    left: -166px;
    transition: all 1s cubic-bezier(0.425, 0.845, 0.365, 1.650) .5s;

}

.head-zi1 {
    right: -369px;
    transition: all 1s cubic-bezier(0.425, 0.845, 0.365, 1.650) .5s;

}

.head-zi2 {
    width: 264px;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: all 1s cubic-bezier(0.425, 0.845, 0.365, 1.650) 1s;
    z-index: 11;
}

/*第二屏*/
.disan {
    width: 100%;
    height: 100%;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
}

.neirong {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
}

.zhaopian {
    width: 500px;
    height: 450px;
    position: relative;
}

.zhaopian li {
    width: 166px;
    height: 150px;
    background-size: 166px 155px;
    position: absolute;
}

.factive {
    transition: all .7s ease;
}

.zhaopian .factive:nth-child(1) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -332px 0px;

    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(2) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -166px 0px;
    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(3) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: 0px 0px;

    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(4) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -322px -150px;

    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(5) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -166px -150px;
    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(6) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: 0px -150px;

    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(7) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -322px -300px;

    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(8) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: -166px -300px;
    transform: rotateY(180deg);

}

.zhaopian .factive:nth-child(9) {
    background-image: url("../img/zhaopian.jpg");
    background-size: 500px 450px;
    background-position: 0px -300px;

    transform: rotateY(180deg);

}

.zhaopian li:nth-child(1) {
    background-image: url("../img/shuixing.png");
    top: -100px;
    left: 1100px;
}

.zhaopian li:nth-child(2) {
    background-image: url("../img/jinxing.png");
    top: 0;
    left: 1000px;
}

.zhaopian li:nth-child(3) {
    background-image: url("../img/diqiu.png");
    top: 200px;
    left: 850px;
}

.zhaopian li:nth-child(4) {
    background-image: url("../img/huoxing.png");
    top: 110px;
    left: 750px;
}

.zhaopian li:nth-child(5) {
    background-image: url("../img/muxing.png");
    top: -50px;
    left: 650px;
}

.zhaopian li:nth-child(6) {
    background-image: url("../img/tuxing.png");
    top: 350px;
    left: 500px;
}

.zhaopian li:nth-child(7) {
    background-image: url("../img/tianwangxing.png");
    top: 50px;
    left: 300px;
}

.zhaopian li:nth-child(8) {
    background-image: url("../img/haiwangxing.png");
    top: -20px;
    left: 200px;
}

.zhaopian li:nth-child(9) {
    background-image: url("../img/mingwangxing.png");
    top: -80px;
    left: 0;
}

.wenzi {
    width: 500px;
    height: 450px;
    padding: 20px;
    overflow: hidden;
}

.wenzi p {
    width: 500px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 500px;
}

.wenzi p:nth-child(1) {
    transition: all 1s;
}

.wenzi p:nth-child(2) {
    transition: all 1s .5s;
}

.wenzi p:nth-child(3) {
    transition: all 1s 1s;
}

.wenzi p:nth-child(4) {
    transition: all 1s 1.5s;
}

/*第三屏*/

.disi {
    width: 100%;
    height: 100%;
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

.biao {
    width: 205px;
    height: 205px;
    position: absolute;
    top: -300px;
}

.biao:nth-child(1) {
    left: 66px;

}

.biao:nth-child(2) {
    left: 364px;

}

.biao:nth-child(3) {
    left: 662px;

}

.biao:nth-child(4) {
    left: 960px;

}

.biao:nth-child(5) {
    left: 1258px;

}


.biao:hover {
    transform: scale(1.2, 1.2);
}

/*第四屏*/
.box:hover {
    animation-play-state: paused;
}

.box {
    width: 300px;
    height: 300px;
    margin: 200px auto;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(20deg);
    position: relative;
    animation: updown 10s linear 3s infinite;
}

@keyframes updown {
    0% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(20deg) rotateY(380deg);
    }
}

.box div {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}

.box a {
    width: 100%;
    height: 100%;
    display: block;
}

.box .top {
    transform: translateY(-150px) rotateX(90deg);
}

.box .down {
    transform: translateY(150px) rotateX(-90deg);
}

.box .left {
    transform: translateX(-150px) rotateY(-90deg);
}

.box .right {
    transform: translateX(150px) rotateY(90deg);
}

.box .front {
    transform: translateZ(150px);
}

.box .behind {
    transform: translateZ(-150px);
}

.box ul .mofang11 {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: relative;
    background-size: 300px 300px;
}

.box a {
    display: block;
}

.dier1 {
    width: 100%;
    height: 100%;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
}

.dier1 h1 {
    width: 50px;
    font-size: 50px;
    color: #fff;
    transform: scale(0, 0);
    position: absolute;
    top: 300px;
    left: 200px;
    animation: dierzi 2s ease forwards 1.5s;
}

@keyframes dierzi {
    100% {
        top: 30px;
        transform: scale(1, 1);
    }

}

/*第二魔方*/
.scene {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
    perspective-origin: top left;
    perspective: 1800px;

}

.scene ul {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform: rotate3d(1, 1, 0, 30deg);
    margin-top: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: mactive 10s linear infinite;

}

@keyframes mactive {
    0% {
        transform: rotate3d(1, 1, 0, 30deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 390deg);
    }
}

.scene ul:hover {
    animation-play-state: paused;
}

.scene ul li {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.scene .z {
    transform: translateX(-150px) rotateY(90deg);
    box-shadow: 0 0 10px 5px #fff;
}

.scene .y {
    transform: translateX(150px) rotateY(90deg);
    box-shadow: 0 0 10px 5px #fff;
}

.scene .s {
    transform: translateY(-150px) rotateX(90deg);
    box-shadow: 0 0 10px 5px #fff;
}

.scene .x {
    transform: translateY(150px) rotateX(90deg);
    box-shadow: 0 0 10px 5px #fff;
}

.scene .h {
    transform: translateZ(-150px);
    box-shadow: 0 0 10px 5px #fff;
}

.scene .q {
    transform: translateZ(150px);
    box-shadow: 0 0 10px 5px #fff;
}

/*第五屏*/
.diwu {
    width: 100%;
    height: 100%;
    /*background: #000;*/
    background-image: url("../img/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.diwu ul {
    width: 1536px;
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.diwu ul .xingqiu {
    width: 150px;
    height: 150px;
    transition: all 2s;
    z-index: 1;

}

.xingqiu1 {
    position: absolute;
    top: -200px;
    left: 500px;
    background-image: url("../img/xingqiu1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.xingqiu2 {
    position: absolute;
    top: -400px;
    left: 1200px;
    background-image: url("../img/xingqiu2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.xingqiu3 {
    position: absolute;
    top: -300px;
    left: 700px;
    background-image: url("../img/xingqiu3.png");
    background-repeat: no-repeat;
    background-position: center;
    /*transform:scale(.3,.3);*/
}

.xingqiu4 {
    position: absolute;
    top: -200px;
    left: 1000px;
    background-image: url("../img/xingqiu4.png");
    background-repeat: no-repeat;
    background-position: center;
}

.xingqiu5 {
    position: absolute;
    top: -100px;
    left: 100px;
    background-image: url("../img/xingqiu5.png");
    background-repeat: no-repeat;
    background-position: center;
    /*transform: scale(.7,.7);*/
}

.diwu ul li .xinxi {
    width: 230px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    display: none;
}

.xinxi1 {
    top: -350px;
    background-image: url("../img/xingzuo1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.xingqiu1:hover .xinxi1 {
    background-image: url("../img/lxingzuo1.png");

}

.xinxi3 {
    top: -350px;
    background-image: url("../img/xingzuo2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.xingqiu3:hover .xinxi3 {
    background-image: url("../img/lxingzuo2.png");

}

.xinxi5 {
    top: -350px;
    background-image: url("../img/xingzuo3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.xingqiu5:hover .xinxi5 {
    background-image: url("../img/lxingzuo3.png");

}

.xinxi2 {
    top: -200px;
    background-image: url("../img/xingzuo4.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.xingqiu2:hover .xinxi2 {
    background-image: url("../img/lxingzuo4.png");

}

.xinxi4 {
    top: -200px;
    background-image: url("../img/xingzuo5.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.xingqiu4:hover .xinxi4 {
    background-image: url("../img/lxingzuo5.png");

}

.diwu {
    font-size: 26px;
    color: #fff;
    line-height: 50px;
}

.diwu h5 {
    text-align: center;
}

.xingqiu span {
    position: absolute;
    top: -100px;
    left: 0;
}

.guang {
    width: 177px;
    height: 500px;
    position: absolute;
    bottom: 95px;;
    left: -27px;;
    background-image: url("../img/guang.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

